@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/* BASE */

body {
    font-family     : "Montserrat";
    font-size       : 1rem;
    background-color: #28293E;
}


.container {
    max-width    : 90vw;
    margin-left  : auto;
    margin-right : auto;
    padding-left : 2rem;
    padding-right: 2rem;
}


/* BUTTONS */

.show-keyboard-button {
    position        : fixed;
    bottom          : 0;
    left            : 50%;
    border-radius   : 0.5rem 0.5rem 0px 0px;
    background-color: opacify($color: #28293E, $amount: 1);
    border          : 1px solid #333450;
    display         : inline-block;
    color           : white;
    padding         : 1rem 1.5rem;
    cursor          : pointer;
    transition      : all 0.5s;
    transform       : translateX(-50%);

}


.show-keyboard-button:hover {
    background-color: #333450;

}


/* ICONS */

.lds-ring {
    display : inline-block;
    position: relative;
    width   : 80px;
    height  : 80px;
}

.lds-ring div {
    box-sizing   : border-box;
    display      : block;
    position     : absolute;
    width        : 64px;
    height       : 64px;
    margin       : 8px;
    border       : 8px solid #fff;
    border-radius: 50%;
    animation    : lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color : #333450 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.clock.icon {
    position     : absolute;
    margin-left  : 2px;
    margin-top   : 2px;
    width        : 15px;
    height       : 15px;
    position     : relative;
    border       : solid 1px currentColor;
    border-radius: 8px;
}

.clock.icon:before {
    content                 : '';
    position                : absolute;
    top                     : 7px;
    left                    : 7px;
    width                   : 5px;
    height                  : 1px;
    background-color        : currentColor;
    -webkit-transform-origin: 0% 0%;
    transform-origin        : 0% 0%;
}

.clock.icon:after {
    content                 : '';
    position                : absolute;
    top                     : 2px;
    left                    : 7px;
    width                   : 1px;
    height                  : 6px;
    background-color        : currentColor;
    -webkit-transform-origin: 0% 0%;
    transform-origin        : 0% 0%;
}




/* SECTIONS */


.header {
    height: 8rem;
    width : 100%;

    &__inner {
        height         : 100%;
        display        : flex;
        align-items    : center;
        justify-content: space-between;
    }


    &__logo {
        width: 80%;
    }


    .attempt-data {
        &__icon {
            color: white;

        }

        &__value {
            color: white;
        }
    }

}

.flex {
    display: flex;
}


.attempts {

    &__attempt {
        height: 50%;
        margin: 0px 0px 1rem 0px;
        display: none;

    }


    &__inner {
        height     : 70vh;
        display    : flex;
        align-items: center;

        justify-content: center;
    }

    &__loader {
        display: none;
        background-color: #28293E;

    }

    .--active {
        display: flex;
    }


    

}


.attempt {
    display: flex;
    justify-content: center;

    &__cell {
        color           : white;
        display         : flex;
        align-items     : center;
        justify-content : center;
        width           : 100%;
        height          : 100%;
        border-radius   : 1rem;
        background-color: #333450;
        text-transform: capitalize;

    }

    &__group {
        width: 100%;
        display              : grid;
        grid-template-columns: repeat(auto-fit, 1fr); 
        grid-template-columns: repeat(auto-fit, 1fr); 
        grid-gap: 0.6875rem;

    }
}

.attempt-data {
    display    : flex;
    align-items: center;
    gap        : 0.75rem;

    &__icon {}


    &__value {}
}


.keyboard {
    &__inner {}


    &__12-cells {
        display              : grid;
        grid-template-columns: repeat(11, 2rem);
        grid-template-rows   : repeat(1, 2rem);

    }
}